body {
    background-image: url(website-background-templates.jpg);
    background-size: 1000px;
    width: 1000px;
    height: 1000px;
}
.pagetitle {
    font-size: 45px ;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}